[Unit]
Description="Tungsten Control"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/authbind /usr/bin/tungsten-control
PIDFile=/var/run/tungsten/tungsten-control.pid
TimeoutStopSec=0
Restart=always
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
WantedBy=multi-user.target
