[Unit]
Description="Tungsten kube-manager"
Documentation="Tungsten kube manager"
After=network.target

[Service]
Type=simple
NotifyAccess=all
ExecStart=/usr/bin/tungsten-kube-manager -c /etc/tungsten/tungsten-kubernetes.conf
TimeoutStartSec=0
MountFlags=slave
Restart=on-abnormal
PIDFile=/var/run/tungsten/tungsten-kube-manager.pid
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
WantedBy=multi-user.target
