[Unit]
Description="Tungsten API: %I"
After=network.target

[Service]
RestartSec=3s
Type=simple
ExecStart=/usr/bin/tungsten-api --conf_file /etc/tungsten/tungsten-api.conf --conf_file /etc/tungsten/tungsten-keystone-auth.conf --conf_file /etc/tungsten/tungsten-database.conf --log_file /var/log/tungsten/tungsten-api-%I.log --worker_id %I --listen_port 910%I --admin_port 819%I --http_server_port 828%I
PIDFile=/var/run/tungsten/tungsten-api-%I.pid
TimeoutStopSec=0
Restart=always
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/tungsten
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
DefaultInstance=0
WantedBy=multi-user.target
