[Unit]
Description="Tungsten API"
After=network.target

[Service]
RestartSec=3s
Type=simple
ExecStart=/usr/bin/tungsten-api --conf_file /etc/tungsten/tungsten-api.conf --conf_file /etc/tungsten/tungsten-keystone-auth.conf --conf_file /etc/tungsten/tungsten-database.conf --listen_port 9100
PIDFile=/var/run/tungsten/tungsten-api.pid
TimeoutStopSec=0
Restart=always
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/tungsten
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
WantedBy=multi-user.target
