[Unit]
Description=Tungsten vrouter agent service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tungsten-vrouter-agent
PIDFile=/var/run/tungsten/tungsten-vrouter-agent.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/dev
ReadWriteDirectories=-/run
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/lib/tungsten
ReadWriteDirectories=-/var/log/tungsten
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
