[Unit]
Description="Ironic Notification Manager"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ironic-notification-manager --conf_file /etc/tungsten/ironic-notification-manager.conf --conf_file /etc/tungsten/tungsten-keystone-auth.conf
PIDFile=/var/run/tungsten/ironic-notification-manager.pid
TimeoutStopSec=0
Restart=always
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
WantedBy=multi-user.target
