[Unit]
Description="Tungsten ISSU run sync"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tungsten-issu-run-sync --conf /etc/tungsten/tungsten-issu.conf
PIDFile=/var/run/tungsten/tungsten-issu-run-sync.pid
TimeoutStopSec=0
Restart=always
User=tungsten
Group=tungsten
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/tungsten
ReadWriteDirectories=-/etc/tungsten

[Install]
WantedBy=multi-user.target
